<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.visutrb.resumegen">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResumeGenerator">
        <activity
            android:name=".mvp.resumedetails.ResumeDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_resume_details"
            android:theme="@style/Theme.ResumeGenerator.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="me.visutrb.resumegen.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".mvp.projectform.ProjectFormActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.workexpform.WorkExperienceFormActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.educationform.EducationFormActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.resumeform.ResumeFormActivity"
            android:exported="false" />
        <activity
            android:name=".mvp.resumelist.ResumeListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>